@font-face {
	font-family: 'titleFont';
	src: url(Fonts/Title.ttf);
}
@font-face {
	font-family: 'textFont';
	src: url(Fonts/Text.ttf);
}
@font-face {
	font-family: 'clacon';
	src: url(Fonts/clacon.ttf);
}
.MainTitle {
	text-align: center;
	color: whitesmoke;
	font-family: titleFont;
}
.Title {
	text-align: left;
	color: whitesmoke;
	font-family: titleFont;
	font-size: 250%;
	text-decoration: none;
}
.Category {
	color: whitesmoke;
	font-size: 150%;
	font-family: textFont;
}
.Link {
	font-size:100%;
	text-decoration: none;
	color: grey;
	font-family: textFont;
}
.BottomInfo {
	font-size:100%%;
	text-decoration: none;
	color: whitesmoke;
	font-family: textFont;
}
.Categories {
	position: absolute;
	left: 75%;
}
.AudioTitle {
	color: whitesmoke;
	font-size: 200%;
	font-family: textFont;
}
.Info {
	text-align: center;
	color: whitesmoke;
	font-size: 125%;
}
br {
   display: block;
   margin: 10px 0;
}
.DownloadButton {
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  font-family: textFont;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: grey;
}
.SignUpButton {
  border: none;
  color: whitesmoke;
  padding: 10px 22px;
  text-align: center;
  font-family: textFont;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: grey;
}

.ChessImg {
	width: 1px;
}
.ChessBoard {
		padding-left: 0;
	  padding-right: 0;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
}
.LargeBr {
	display: block;
   margin: 200px 0;
}
.MediumBr {
	display: block;
   margin: 100px 0;
}
.body {
	background-size: 350px;
	background-image: url(Images/backing.png);
}